#post-review-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3dcd2;
  padding: 20px 0px;
  border-radius: 10px;
  font-family: 'Manrope', sans-serif;
  border: 4px solid #013328;
  width: 400px;
  text-align: center;
  color: #013328;
  margin-bottom: 0;
}

#post-review-modal > h2 {
  margin: 0
}

#post-review-modal > textarea {
  font-size: 12px;
  width: 80%;
  border: 1px solid #013328;
  height: 100px;
  margin-bottom: 10px;
}

#post-review-modal > button{
  width: 80%;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #e3dcd2;
  background-color: #013328;
  border: 2px solid #013328;
  padding: 10px 0;
  margin: 10px auto 10px;
}

#post-review-modal > button:hover{
  box-shadow: 0 0 10px grey;
}

.create-review-errors{
  color: red;
  font-weight: 500;
  font-size: 13px;
}
