#create-spot-form{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  color: #013328;
}

.create-spot-section-text h4{
  margin: 0;
}

.create-spot-input{
  font-size: 12px;
  padding: 2px;
  border: 1px solid #013328;
  margin: 4px 0;
  font-family: 'Manrope', sans-serif;
}

.create-spot-block-input{
  display: block;
  width: 100%;
}

.create-spot-comma{
  font-weight: bold;
  text-align: left;
  padding-top: 18px;
  font-size: 20px;
  margin-left: 2px;
  margin-right: 5px;
}

#city-state-row {
  display: flex;
}

#city{
  width: 100%
}

#city-state-row input{
  width: 100%;
}

#lat-lng-row{
  display: flex;
}

#lat, #lng {
  width: 100%;
}

#lat-lng-row input{
  width: 100%;
}

#description textarea{
  height: 85px;
  margin-bottom: 0;
}

#name input{
  margin-bottom: 0;
}

#price input{
  margin-bottom: 0;
}

#create-spot-button{
  width: 95px;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  color: #e3dcd2;
  background-color: #013328;
  border: 2px solid #013328;
  margin: 10px auto 20px;
}

#create-spot-button:hover{
  box-shadow: 0 0 10px grey;
}

.create-form-errors{
  color: red;
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
}

.inline-create-form-errors{
  color: red;
  display: inline-block;
  font-size: 12px;
  margin-top: -7px;
  height: 25px;
}

.create-form-errors p{
  margin: 0;
}

#photos > input{
  margin-top: 12px;
}
