#manage-spots-heading{
  font-family: 'Manrope', sans-serif;
  color: #013328;
  margin: 0;
  padding: 20px 40px 5px;
}

#manage-spots-create-button{
  margin: 10px 40px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  background-color: #013328;
  color: #e3dcd2;
  border: 2px solid #013328;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

#manage-spots-create-button:hover{
  box-shadow: 0px 0px 10px grey;
}

#spots-grid{
  display: grid;
  row-gap: 8px;
  column-gap: 4px;
  margin: 15px;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 831px) {
  #spots-grid{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 832px) and (max-width: 1243px) {
  #spots-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1244px) and (max-width: 1654px) {
  #spots-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1655px) {
  #spots-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
