#spots-grid{
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
  margin: 15px;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 875px) {
  #spots-grid{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 876px) and (max-width: 1275px) {
  #spots-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1276px) and (max-width: 1675px) {
  #spots-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1676px) {
  #spots-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
