#spot-card{
  display: flex;
  flex-direction: column;
  width: 400px;
  font-family: 'Manrope', sans-serif;
  color: #22223b;
  padding: 10px;
  box-shadow: 0 0 5px rgb(34, 34, 59);
  border-radius: 20px;
}

#spot-card:hover{
  box-shadow: 0px 0px 10px #22223b;
  border-radius: 20px;
}

#spot-card img {
  height: 300px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.second-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.third-row{
  display: flex;
  justify-content: left;
  padding: 5px;
}

.fourth-row{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#update-button{
  font-family: 'Manrope', sans-serif;
  background-color: #9a8c98;
  color: white;
  border: 2px solid #22223b;
  padding: 4px;
  width: 60px;
  margin: 0 5px;
  border-radius: 10px;
}

#update-button:hover{
  box-shadow: 0px 0px 10px #22223b;
}

#delete-button{
  background-color: #9a8c98;
  color: white;
  border: 2px solid #22223b;
  list-style-type: none;
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#delete-button:hover{
  box-shadow: 0px 0px 10px #22223b;
}

#delete-button-text{
  margin-left: 28px;
  font-size: 14px;
}
