#spot-card{
  display: flex;
  flex-direction: column;
  width: 400px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  padding: 12px;
  border-radius: 20px;
}

#spot-card:hover{
  box-shadow: 0px 0px 15px grey;
  border-radius: 20px;
}

#spot-card img {
  height: 300px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.second-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.third-row{
  display: flex;
  justify-content: left;
  padding: 5px;
}

.fourth-row{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#update-button{
  font-family: 'Manrope', sans-serif;
  background-color: #013328;
  color: #e3dcd2;
  border: 2px solid #013328;
  padding: 4px;
  width: 60px;
  margin: 0 5px;
  border-radius: 10px;
}

#update-button:hover{
  box-shadow: 0px 0px 10px grey;
}

#delete-button{
  background-color: #cc8b65;
  color: #013328;
  list-style-type: none;
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#delete-button:hover{
  box-shadow: 0px 0px 10px grey;
}

#delete-button-text{
  font-size: 14px;
}
