#nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Manrope', sans-serif;
  padding: 0 12px;
  border-bottom: 1px solid #e3dcd2;
  color: #e3dcd2;
  margin-bottom: 0;
  background-color: #013328;
}

#nav-bar > * {
  text-decoration: none;
}

#nav-bar > *:visited {
  color: #e3dcd2;
}

#nav-bar-top-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-bar-top-left > i {
  font-size: 60px;
  margin: 0 8px;
}

#nav-bar-top-right-with-link{
  display: flex;
  align-items: center;
}

#create-a-new-spot-link{
  color: #e3dcd2;
  font-weight: bold;
  background-color: #013328;
  border: 2px solid #e3dcd2;
  border-radius: 40px;
  padding: 6px 12px;
  margin: 15px;
}

#create-a-new-spot-link:hover{
  box-shadow: 0px 0px 10px white;
}

#create-a-new-spot-link:visited{
  text-decoration: none;
}

#nav-bar-top-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #e3dcd2;
  border-radius: 30px;
  padding: 8px 10px;
  background-color: #013328;
}

#nav-bar-top-right:hover{
  box-shadow: 0px 0px 10px white;
}

#nav-bar-top-right > i {
  font-size: 30px;
  background-color: #013328;
  margin-left: 10px;
}

#dropdown{
  position: relative;
}

#profile-button {
  border: none;
  background-color: #013328;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  padding: 0;
  margin-left: 5px;
  color: #cc8865;
}

#dropdown i {
  font-size: 30px;
}

.profile-dropdown {
  list-style-type: none;
  padding: 10px;
  position: absolute;
  border: 2px solid #013328;
  top: 55px;
  right: -6px;
  background-color: #e3dcd2;
  color: #013328;
  text-align: center;
}

#login-signup-text{
  width: 70px;
}

.profile-dropdown > li {
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0;
}

#manage-links{
  color: #e3dcd2;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  background-color: #013328;
  border-radius: 40px;
  padding: 5px 8px;
  width: 130px;
  margin: 2px auto;
}

#manage-links:hover{
  box-shadow: 0px 0px 10px grey;
}

#log-out-button{
  color: #100c0d;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  border: none;
  background-color: #cc8b65;
  border-radius: 40px;
  padding: 5px 8px;
  margin-top: 2px;
}

#log-out-button:hover{
  box-shadow: 0px 0px 10px grey;
}

.login-signup-dropdown-buttons{
  color: #e3dcd2;
  background-color: #013328;
  border-radius: 40px;
  padding: 5px 8px;
  margin: 5px 5px;
}

.login-signup-dropdown-buttons:hover{
  box-shadow: 0px 0px 10px grey;
}

.hidden{
  display: none;
}
