#nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Manrope', sans-serif;
  padding: 0 12px;
  border-bottom: 1px solid #22223b;
  color: white;
}

#nav-bar > * {
  text-decoration: none;
}

#nav-bar > *:visited {
  color: #22223b;
}

#nav-bar-top-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-bar-top-left > i {
  font-size: 60px;
  margin-right: 5px;
}

#nav-bar-top-right-with-link{
  display: flex;
  align-items: center;
}

#create-a-new-spot-link{
  color: white;
  font-weight: bold;
  background-color: #9a8c98;
  border-radius: 40px;
  padding: 5px 8px;
  margin: 15px;
}

#create-a-new-spot-link:visited{
  text-decoration: none;
}

#nav-bar-top-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #22223b;
  border-radius: 30px;
  padding: 8px 10px;
  background-color: #9a8c98;
}

#nav-bar-top-right > i {
  font-size: 30px;
  background-color: #9a8c98;
  margin-left: 10px;
}

#dropdown{
  position: relative;
}

#profile-button {
  border: none;
  background-color: #9a8c98;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  padding: 0;
  margin-left: 5px;
  color: white;
}

#dropdown i {
  font-size: 30px;
}

.profile-dropdown {
  list-style-type: none;
  padding: 10px;
  position: absolute;
  border: 2px solid #22223b;
  top: 55px;
  right: -6px;
  background-color: #9a8c98;
  color: white;
  text-align: center;
}

#login-signup-text{
  width: 70px;
}

.profile-dropdown > li {
  font-size: 19px;
  margin: 5px 0;
}

#manage-spots-link{
  color: #22223b;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  border-radius: 40px;
  padding: 5px 8px;
  width: 115px;
  margin: 2px auto;
}

#manage-spots-link:hover{
  box-shadow: 0px 0px 10px #22223b;
}

#log-out-button{
  color: #22223b;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: white;
  border-radius: 40px;
  padding: 5px 8px;
  margin-top: 2px;
}

#log-out-button:hover{
  box-shadow: 0px 0px 10px #22223b;
}

.login-signup-dropdown-buttons{
  color: #22223b;
  font-weight: bold;
  background-color: white;
  border-radius: 40px;
  padding: 5px 8px;
  margin: 5px 5px;
}

.login-signup-dropdown-buttons:hover{
  box-shadow: 0px 0px 10px #22223b;
}

.hidden{
  display: none;
}
