#nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Manrope', sans-serif;
  padding: 0 12px;
  border-bottom: 1px solid #22223b;
  color:#22223b;
}

#nav-bar > * {
  text-decoration: none;
}

#nav-bar > *:visited {
  color: #22223b;
}

#nav-bar-top-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-bar-top-left > i {
  font-size: 60px;
  margin-right: 5px;
}

#nav-bar-top-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #22223b;
  border-radius: 30px;
  padding: 8px 10px;
}

#nav-bar-top-right > i {
  font-size: 30px;
  background-color: #f2e9e4;
  margin-left: 10px;
}

#dropdown{
  position: relative;
}

#dropdown button {
  border: none;
  background-color: #f2e9e4;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  padding: 0;
  margin-left: 5px;
}

#dropdown i {
  font-size: 30px;
}

.profile-dropdown {
  list-style-type: none;
  padding: 10px;
  position: absolute;
  border: 1px solid white;
  top: 50px;
  right: -6px;
  background-color: #22223b;
  color: white;
  text-align: center;
}

#login-signup-text{
  width: 70px;
}

.profile-dropdown > li {
  font-size: 19px;
  margin: 5px 0;
}

.hidden{
  display: none;
}
