#login{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3dcd2;
  padding: 5px 15px;
  border-radius: 10px;
  font-family: 'Manrope', sans-serif;
  border: 4px solid #013328;
}

#login-title{
  color: #013328;
  font-size: 24px;
  margin: 15px 0 12px 0;
}

#login-form{
  width: 350px;
}

.login-label{
  color: #013328;
  font-size: 14px;
  font-weight: 600;
}

.login-input{
  display: block;
  border: 2px solid #013328;
  margin: 3px 0;
  padding: 3px;
  width: 100%;
  font-family: 'Manrope', sans-serif;
  background-color:white;
}

#login-button{
  background-color: #013328;
  color: #e3dcd2;
  border: 1px solid #013328;
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

#login-button:hover{
  box-shadow: 0 0 10px grey;
}

#login-button:disabled {
  background-color: white;
  color: grey;
  border: 2px solid grey;
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  font-family: 'Manrope', sans-serif;
  box-shadow: none;
  cursor: default;
}

#demo-user-button{
  background-color: #cc8865;
  color: #013328;
  border: 1px solid #cc8865;
  padding: 5px 10px;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin: 15px auto 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

#demo-user-button:hover{
  box-shadow: 0 0 10px grey;
}

.login-errors{
  color: red;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}

.login-errors>p {
  margin: 0 0 10px 0;
}
